.centerItems {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.passwordBox {
  margin-top: 25px;
  padding: 5px;
}

.password {
  font-size: 36px;
  line-height: 3em;
  text-align: center;
}
